.oppTop{
    width: 100%;
    height: 45px;
    background: #f3f0f0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    font-family: "Josefin Sans", sans-serif;
  };

  .oppTopCenter {
    flex: 12;
    }
  

  .oppTopList {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .oppTopListItem{
    border-left:1px solid ;
    padding: 12px 15px;
    font-size: 18px;
    font-weight: 300;
    width: 100%;
    cursor: pointer;
    color: #010913;
  }
  
  .oppTopListItem:{
    background: red;
}
