.oppTop{
    width: 100%;
    height: 60px;
    /* font-family: 'Josefin Sans', sans-serif; */
    /* //font-family: 'Lora', serif; */
    /* font-family: 'Varela', sans-serif; */
    font-family: 'Varela Round', sans-serif;
    background-color: white;
  };

  .oppTopCenter {
    display: flex;
    justify-content:space-evenly;
    background-color:green;
  }
  
  .oppTopListItem{
    background-color:#f2f2f2;
    padding: 10px;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 300;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    box-sizing: border-box;
    cursor: pointer;
    display:block;
    color: #010913;
    border-radius: 20px;
    border: 2px;
  }
  
 
  .rec.rec-arrow{
    margin-top: 5px;
    border-radius: 100%;
    padding: 0px;
    margin: 0px;
    background-color:white;
    border: white;
  }