.container{
    display: flex;
    flex-wrap: wrap;
    background-color: #26262c;
    font-size: 22px;
}   

.block{
    margin: 20px;
    width: 560px;
    padding-bottom: 5px;
    border-color: red;
    border-radius: 10px;
    align-items: center;
}

.para{
    margin: 20px;
    align-items: center;
    color: #a1a5a8;
}

.title{
    color: #a1a5a8;
    text-align: center;
}

