  .post {
  width: 300px;
  margin-left: 1px;
  background-color:white;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px #e8ebef;
}

.postImg {
  object-fit: cover;
  border-radius: 5px;

}

.postInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postCat {
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 11px;
  color: #be9656;
  line-height: 19px;
  margin-top: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.postTitle {
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 600;
  margin-top: 5px;
  cursor: pointer;
  text-align: center;
}

.postDate {
  margin-bottom: 1px;
  margin-top: 2px;
  margin-left: 9px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #918c8a;
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
}

.postDesc {
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #444444;
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
